<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>PetProject</title>
</head>
<body>
<h1>=====Update Task=====</h1>
<form action="@" th:object="${taskAttribute}" method="post" th:action="@{/petproject/main/tasks/add">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" th:field="*{taskName}"/></td>
        </tr>
        <tr>
            <td><label>Description:</label></td>
            <td><input type="text" th:field="*{taskDescription}"/></td>
        </tr>
        <tr>
            <td><label>Deadline:</label></td>
            <td><input type="text" th:field="*{deadline}"/></td>
        </tr>
        <tr>
            <td><label>Points:</label></td>
            <td><input type="text" th:field="*{taskPoints}"/></td>
        </tr>
    </table>

    <input type="submit" value="Save"/>
</form>
</body>
</html>