<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>PetProject</title>
    </head>
    <body>
        <h1>=====Main Menu=====</h1>
        <p>1. <a href="userMenuUrl" th:href="@{http://localhost:8080/petproject/main/users}">User Menu</a></p>
        <p>2. <a href="taskMenuUrl" th:href="@{http://localhost:8080/petproject/main/tasks}">Task Menu</a></p>
    </body>
</html>