<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=URF-8">
        <title>PetProject</title>
    </head>
    <body>
    <div class="userMenu" th:unless="${#lists.isEmpty(usersAttribute)}">
        <h1>=====User Menu=====</h1>
        <table style="border: 1px solid black; border-collapse: collapse; width: 500px; text-align:center">
            <thead style="background:#fcf">
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>
                    <th>Roles</th>
                    <th>
                        <table>
                            <tr>
                                Tasks
                            </tr>
                            <tr>
                                <td>Task Name</td>
                                <td>Task Description</td>
                                <td>Deadline</td>
                                <td>Is Completed</td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </thead>
            <tbody>
                   <tr th:each = "user: ${usersAttribute}">
                       <td th:text="${user.userId}"/>
                       <td th:text="${user.login}"/>
                       <td th:text="${user.firstName}"/>
                       <td th:text="${user.lastName}"/>
                       <td th:text="${user.userPoints}"/>
                       <td>
                           <tr th:unless="${#lists.isEmpty(user.roles)}" th:each="role: ${user.roles}">
                                <td th:text="${role.name}"></td>
                            </tr>
                       </td>
                       <td>
                        <table style="border: 1px solid black; border-collapse: collapse; width: 500px; text-align:center">
                            <tbody>
                            <tr th:unless= "${#lists.isEmpty(user.tasks)}" th:each = "task: ${user.tasks}">
                                <td th:text="${task.taskName}"/>
                                <td th:text="${task.taskDescription}"/>
                                <td th:text="${task.deadline}"/>
                                <td th:text="${task.completed} ? 'Yes' : 'No'"/>
                            </tr>
                            <tr th:if="${#lists.isEmpty(user.tasks)}">
                                <td>There are currently no tasks assigned to this user. <a href="addTaskUrl" th:href="@{/petproject/admin/main/tasks/add(userId=${user.userId})}">Add one.</a></td>
                            </tr>
                            </tbody>
                        </table>
                       </td>
                    <td><a href="editUserUrl" th:href="@{/petproject/admin/main/users/update(id=${user.userId})}">Edit</a></td>
                    <td><a href="deleteUserUrl" th:href="@{/petproject/admin/main/users/delete(id=${user.userId})}">Delete</a></td>
                   </tr>
            </tbody>
        </table>
    </div>
    <p> Return to <a href="mainUrl" th:href="@{http://localhost:8080/petproject/admin/main}">Admin Menu</a></p>
  </body>
</html>