<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=URF-8">
    <title>PetProject</title>
</head>
<body>
<div class="taskMenu" th:unless="${#lists.isEmpty(tasks)}">
    <h1>=====Task Menu=====</h1>

    <table style="border: 1px solid; width: 500px; text-align:center">
        <thead style="background:#fcf">
        <tr>
            <th th:text="#{task.taskId}">Id</th>
            <th th:text="#{task.taskName}">Task Name</th>
            <th th:text="#{task.taskDescription}">Task Description</th>
            <th th:text="#{task.deadline}">Deadline</th>
            <th th:text="#{task.taskPoints}">Points</th>
            <th th:text="#{task.isCompleted}">Completed</th>
            <th th:text="#{task.user}">Assigned User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "task: ${tasks}">
            <td th:text="${task.taskId}"/>
            <td th:text="${task.taskName}"/>
            <td th:text="${task.taskDescription}"/>
            <td th:text="${task.deadline}"/>
            <td th:text="#{|bool.${task.isCompleted}|}">Yes</td>
            <td th:text="${task.user.login}"/>
            <td><a href="editTaskUrl" th:href="@{http://localhost:8080/petproject/main/tasks/update">Edit</a></td>
            <td><a href="deleteTaskUrl" th:href="@{http://localhost:8080/petproject/main/tasks/delete}">Delete</a></td>
            <td><a href="addTaskUrl" th:href="@{http://localhost:8080/petproject/main/tasks/add}">Add</a></td>
        </tr>
        </tbody>
    </table>
</div>
<span th:if="${#lists.isEmpty(tasks)}">There are currently no tasks in the list. <a href="addTaskUrl" th:href="@{http://localhost:8080/petproject/main/tasks/add}">Add</a> new task.</span>
</body>
</html>